* {
  box-sizing: border-box;
}

.btn-open-suplier {
  margin-top: 25px;
  background-color: #e67e22;
}

#fa-trash {
  margin: 5px;
}

#fa-trash:hover {
  cursor: pointer;
}

#fa-edit {
  margin: 5px;
}

#fa-edit:hover {
  cursor: pointer;
}
