* {
  color: #1d1d1d;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.btn-product {
  width: 130px;
  float: left;
}

.btn-open-cad {
  background-color: #e67e22;
}

.img-pet {
  padding: 10px;
  margin: auto;
  width: 60%;
}

.icon-trash {
  float: right;
}

.icon-trash:hover {
  height: 20px;
  cursor: pointer;
}

.add:hover {
  cursor: pointer;
}
